<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kh618.entmaa">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_entmaa2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.Login" />
        <activity android:name=".Activitys.Register"
            tools:ignore="ExtraText">
            android:windowSoftInputMode="stateVisible|adjustResize"
        </activity>
        <activity android:name=".Activitys.Home" />
        <activity android:name=".RestaurantClasses.Restaurants" />
        <activity android:name=".Activitys.Test" />
        <activity android:name=".RestaurantClasses.RestaurantDeitales" />
        <activity android:name=".Activitys.ContectUs" />
        <activity android:name=".Activitys.WhoUs" />
        <activity android:name=".Activitys.Setting" />
        <activity android:name=".Activitys.BankAccounts" />
        <activity android:name=".Activitys.Packages" />
        <activity android:name=".Activitys.Check" />
        <activity android:name=".Activitys.BillDiscount" />
        <activity android:name=".Activitys.Rate" />
        <activity android:name=".Activitys.AskQuiz" />
        <activity android:name=".Activitys.TheQuestions" />
        <activity android:name=".Activitys.Replies"
            tools:ignore="ExtraText">
            android:windowSoftInputMode="stateVisible|adjustResize"
        </activity>
        <activity android:name=".Activitys.Notifications"></activity>
    </application>

</manifest>